<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{fragments/layout :: layout(~{::body}, 'vets')}">
<head>
<meta charset="UTF-8">
<title>List of Vets</title>
</head>
<body>
	<h2	 th:text="'List Of Vets'">List Of Vets...</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">Id</th>
				<th style="width: 200px;">Vet Name</th>
			</tr>
		</thead>
		<tr th:each="vet:${vets}">
			<td th:text="${vet.id}">124</td>
			<td th:text="${vet.firstName+' '+vet.lastName}">Vet Name</td>
		</tr>
	</table>
</body>
</html>